<div class="w-full">
  <h1 class="font-bold text-center text-2xl">Has Basil had her pill today?</h1>

  <div class='flex-col w-full font-bold text-4xl text-center space-y-8 mt-16'>

    <div>
      <% if @dosed %>
        <p class="text-emerald-700">Yes</p>
      <% else %>
        <div class="flex-col space-y-4">
          <p class="text-red-600">No</p>
          <%= button_to "Dose Basil", dosings_path, class: "border-1 border-black bg-gray-500 rounded-md border text-lg font-normal text-white p-2"  %>
        </div>
      <% end %>
    </div>

    <div class="flex w-full justify-center">
      <%= link_to root_path do %>
        <%= icon "arrow-path", class: ["size-16", "active:animate-ping"] %>
      <% end %>
    </div>

  </div>
</div>
