<%= turbo_frame_tag dom_id(@pet, :dosings) do %>
  <div class="flex flex-col justify-between pt-12">
    <div class="flex flex-col h-1/2">
      <h1 class="font-bold text-center text-2xl">Has
        <%= @pet.name.titleize %>
        been pilled today?</h1>
      <%= turbo_frame_tag dom_id(@pet, :dosing), src: pet_dosings_path(@pet), loading: :lazy, class: "min-h-[200px] mt-24" do %>
        <%= icon "trailing-spinner", library: "animated", class: ["size-8"] %>
      <% end %>
    </div>
  </div>
<% end %>
